.comment-proposal__title,
.comment-proposal__description {
  margin: 0;
}

.comment-proposal__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.comment-proposal__description {
  line-height: 24px;
}
