.developer__description {
  margin: 0;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
}

.developer__description span {
  vertical-align: top;
  margin-right: 12px;
}

.developer__logo {
  display: inline-block;
  fill: #000000;
}

.developer__logo:hover {
  fill: #81b3d2;
}

.developer__logo:active {
  fill: rgba(0, 0, 0, 0.3);
}
