.features {
  display: flex;
  flex-direction: column;
}

.features__item--two-blocks {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.features__item--three-blocks {
  position: relative;
  width: 320px;
  margin: 0 auto;
  padding-top: 33px;
  padding-bottom: 33px;
  background-color: #eeeeee;
}

.features__text {
  padding-top: 32px;
  padding-bottom: 32px;
  width: 320px;
  margin: 0 auto;
  background-color: #81b3d2;
  color: #ffffff;
}

.features__title,
.features__description {
  margin: 0;
  padding: 0;
}

.features__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
}

.features__title--another-bg {
  width: 151px;
}

.features__description {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}

.features__order-number {
  display: block;
  text-align: center;
  margin-bottom: 25px;
}

.features__img {
  width: 320px;
  margin: 0 auto;
}

@media (max-width: @mobile-width-only) {
  .features__text--first-block {
    background-image: url("../img/bg-triangle.svg");
    background-repeat: no-repeat;
    background-position: top;
    padding-top: 69px;
  }

  .features__item--three-blocks:not(:last-of-type)::after {
    position: absolute;
    bottom: 0;
    content: "";
    width: 280px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
  }
}

@media (min-width: @tablet-width) {
  .features {
    flex-direction: row;
    flex-wrap: wrap;
    width: 768px;
    margin: 0 auto;
  }

  .features__item {
    width: 100%;
    height: 256px;
  }

  .features__item--services-list {
    height: 330px;
  }

  .features__item--two-blocks {
    flex-direction: row;
  }

  .features__item--reverse {
    flex-direction: row-reverse;
  }

  .features__item--three-blocks {
    width: calc(100% / 3);
  }

  .features__text {
    width: 33.333%;
    padding-left: 33px;
    padding-right: 33px;
  }

  .features__title {
    margin-bottom: 13px;
    font-size: 21px;
  }

  .features__img {
    width: 67%;
    margin: 0;
    height: 256px;
  }
}

@media (min-width: @desktop-width) {
  .features {
    width: 1200px;
  }
}
