.form-group {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  padding-bottom: 25px;
  margin-top: 16px;
  border: none;
}

.form-group--info {
  margin-top: 20px;
  padding-bottom: 30px;
}

.form-group--order-1 {
  margin-top: 18px;
}

.form-group--feeling {
  padding-bottom: 18px;
}

.form-group--comment {
  margin-top: 20px;
  margin-bottom: 51px;
  padding: 0;
}

@media (max-width: @mobile-width-only) {
  .form-group::after {
    position: absolute;
    bottom: 0;
    left: -20px;
    content: "";
    width: 320px;
    height: 1px;
    background-color: #e5e5e5;
  }

  .form-group--comment::after {
    display: none;
  }
}

.form-group__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-group__item {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  position: relative;
  margin-bottom: 20px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.form-group__container-info {
  width: 100%;
}

.form-group__item--info {
  flex-direction: column;
}

.form-group__item--info .form-group__label {
  margin-left: 20px;
  margin-bottom: 4px;
}

.form-group__item--info:not(:last-of-type) {
  margin-bottom: 6px;
}

.form-group__title {
  width: 275px;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-size: 18px;
  line-height: (26/18);
  font-weight: 700;
  color: #000000;
  text-align: center;
}

.form-group__title--info {
  margin-bottom: 16px;
}

.form-group__title--feeling {
  margin-bottom: 27px;
}

.form-group__input--text {
  padding-top: 10px;
  padding-left: 20px;
  height: 58px;
  background-color: #f2f2f2;
  border: none;

  // для FF

  font-size: 0;
  line-height: (26/18);
  font-weight: 700;
  width: 100%;
}

.form-group__input--text:hover {
  background-color: #e5e5e5;
}

.form-group__input--text:focus {
  background-color: #ffffff;
  outline: 4px solid #e5e5e5;
}

.form-group__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 58px;
  height: 58px;
  background-color: #e6e6e6;
}

.form-group__label {
  padding-top: 7px;
  margin-right: 15px;
}

.form-group__input::-webkit-input-placeholder {
  color: #000000;
  font-size: 18px;
}

.form-group__input::-moz-placeholder {
  color: #000000;
  opacity: 1;
  font-size: 18px;
}

.form-group__input:-ms-input-placeholder {
  color: #000000;
  font-size: 18px;
}

.form-group__label--radio,
.form-group__label--checkbox {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  text-transform: none;
}

.form-group__button {
  display: flex;
  position: relative;
  height: 56px;
  padding-left: 77px;
  cursor: pointer;
}

.form-group__button--radio {
  margin-bottom: 12px;
}

.form-group__button--checkbox:not(:last-of-type) {
  margin-bottom: 22px;
}

input[type="radio"]:focus + .form-group__label,
input[type="checkbox"]:focus + .form-group__label {
  outline: 2px solid #f2f2f2;
}

.form-group__button::before {
  position: absolute;
  left: 0;
  display: block;
  content: "";
  width: 56px;
  height: 56px;
  background-color: #f2f2f2;
}

.form-group__button--radio::before {
  border-radius: 50%;
}

.form-group__button:hover::before {
  background-color: #e5e5e5;
}

.form-group__button:active::before {
  background-color: #d5d5d5;
}

input[type="radio"]:checked + .form-group__label--radio::before {
  display: block;
  content: "";
  position: absolute;
  left: 17px;
  top: 17px;
  width: 22px;
  height: 22px;
  background-color: #333333;
  border-radius: 50%;
}

input[type="radio"]:checked + .form-group__label--radio:active::before {
  opacity: 0.3;
}

.form-group__button--checkbox::before {
  border-radius: 5px;
}

input[type="checkbox"]:checked + .form-group__label--checkbox::before {
  display: block;
  content: "";
  position: absolute;
  top: 17px;
  left: 17px;
  width: 24px;
  height: 16px;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
}

input[type="checkbox"]:checked + .form-group__label--checkbox:active::before {
  opacity: 0.3;
}

.form-group__comment-text {
  resize: none;
  width: 280px;
  min-height: 160px;
  font-weight: 700;
  font-family: "PT Sans", "Arial", sans-serif;
  background-color: #f2f2f2;
  border: none;
  padding-left: 20px;
  padding-top: 12px;
}

.form-group__comment-text::-webkit-input-placeholder {
  font-size: 18px;
  line-height: (26/18);
  font-weight: 700;
  color: #000000;
}

.form-group__comment-text::-moz-placeholder {
  font-size: 18px;
  line-height: (26/18);
  font-weight: 700;
  color: #000000;
  opacity: 1;
}

.form-group__comment-text:-ms-input-placeholder {
  font-size: 18px;
  line-height: (26/18);
  font-weight: 700;
  color: #000000;
}

@media (min-width: @tablet-width) {
  .form-group {
    margin-top: 0;
  }

  .form-group__title--tablet-desktop {
    text-align: left;
  }

  .form-group--name,
  .form-group--order-1 {
    width: 50%;
  }

  .form-group--name {
    position: relative;
    padding-left: 58px;
  }

  .form-group--order-1 {
    order: -1;
    justify-content: space-between;
  }

  .form-group__title {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    position: relative;
    font-size: 21px;

    &--info::before,
    &--showplace::before,
    &--comment::before {
      display: block;
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 125px;
      height: 1px;
      background-color: #dbdbdb;
    }

    &--info::after,
    &--showplace::after,
    &--comment::after {
      display: block;
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      width: 125px;
      height: 1px;
      background-color: #dbdbdb;
    }
  }

  .form-group__title--info {
    margin-bottom: 18px;
  }

  .form-group__item--info:not(:last-of-type) {
    margin-bottom: 18px;
  }

  .form-group--info {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 55px;
    padding-bottom: 0;
  }

  .form-group--showplace {
    width: 100%;
    padding-bottom: 0;
    margin-bottom: 67px;
  }

  .form-group__title--showplace {
    margin-bottom: 42px;
    line-height: 1.3;
  }

  .form-group--comment {
    width: 100%;
    margin-bottom: 54px;
  }

  .form-group__title--comment {
    margin-bottom: 55px;
  }

  .form-group__comment-text {
    width: 100%;
  }

  .form-group__item--name {
    width: 100%;
  }

  .form-group__button--radio {
    margin-bottom: 22px;
  }

  input[type="checkbox"]:checked + .form-group__label--checkbox::before {
    top: 20px;
    left: 16px;
  }

  .form-group__button.form-group__button--checkbox {
    width: 47%;
    margin-bottom: 32px;
  }

  .form-group__button.form-group__button--checkbox:last-of-type,
  .form-group__button.form-group__button--checkbox:nth-last-of-type(2) {
    margin-bottom: 0;
  }

  .form-group__container-showplace {
    padding-left: 97px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .form-group__item--info .form-group__input--text {
    padding-top: 14px;
  }
}

@media (min-width: @desktop-width) {
  .form-group--name {
    padding-left: 80px;
  }

  .form-group--info {
    margin-bottom: 31px;
  }

  .form-group--showplace {
    margin-bottom: 65px;
  }

  .form-group__item--info {
    flex-direction: row;
  }

  .form-group__item--info > .form-group__input--text {
    width: 315px;
  }

  .form-group__label.form-group__label--info {
    margin-left: 0;
    margin-right: 17px;
  }

  .form-group__title--feeling {
    margin-left: 80px;
  }

  .form-group__block {
    margin-top: 5px;
  }

  .form-group__container-showplace {
    width: 100%;
    justify-content: space-between;
    padding-left: 0;
  }

  .form-group__button--radio {
    padding-left: 79px;

    &::before {
      left: 5px;
      top: -3px;
    }
  }

  input[type="radio"]:checked + .form-group__label--radio::before {
    left: 22px;
    top: 13px;
  }

  .form-group__button.form-group__button--checkbox {
    width: auto;
    padding-left: 80px;
    margin-bottom: 0;
  }

  .form-group__label--checkbox {
    padding-top: 10px;
  }

  .form-group__container-info {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form-group--comment {
    margin-bottom: 56px;
  }

  .form-group__title {
    margin-bottom: 56px;
    position: relative;

    &--info::before,
    &--showplace::before,
    &--comment::before,
    &--info::after,
    &--showplace::after,
    &--comment::after {
      width: 280px;
    }
  }

  .form-group__title--info {
    margin-bottom: 70px;
  }

  .form-group__title--showplace {
    margin-bottom: 43px;
  }

  .form-group__comment-text {
    padding-top: 14px;
    padding-left: 22px;
  }


  .form-group__disable {
    display: none;
  }

  .form-group__icon {
    top: 0;
  }
}
