.navigation-list {
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: #81b3d2;
}

.navigation-list__url {
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  color: #ffffff;
  padding-top: 22px;
  padding-bottom: 22px;
}
