.navigation-list {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: #81b3d2;
}

.navigation-list__item {
  box-shadow:
    0 1px 0 0 rgba(0, 0, 0, 0.2),
    inset 0 -1px 0 0 rgba(255, 255, 255, 0.2);
}

.navigation-list__url {
  display: block;
  padding-top: 9px;
  padding-bottom: 9px;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  color: #ffffff;
}

.navigation-list__item--logo {
  position: absolute;
  bottom: -27px;
  left: 109px;
  z-index: 1;
  box-shadow: none;
}

.navigation-list__item--button {
  position: relative;
  height: 56px;
  background-color: #ffffff;
  box-shadow: none;
}

.navigation-list__toggle {
  position: absolute;
  top: 17px;
  right: 20px;
  width: 23px;
  height: 23px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  fill: #a9cbe0;
}

@media (max-width: @mobile-width-only) {
  .navigation-list__url:hover {
    background-color: #669ec0;
  }

  .navigation-list__url:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: @tablet-width) {
  .navigation-list {
    flex-direction: row;
    justify-content: space-between;
    min-height: 58px;
    background-color: #ffffff;
    width: 100%;
  }

  .navigation-list__item--logo img {
    width: auto;
    position: absolute;
  }

  .navigation-list__url {
    color: #000000;
  }

  .navigation-list__url:hover {
    color: #81b3d2;
  }

  .navigation-list__url:active {
    color: rgba(0, 0, 0, 0.3);
  }

  .navigation-list__url--active {
    color: #766357;
  }

  .navigation-list__url--active:hover {
    color: #604e43;
  }

  .navigation-list__url--active:active {
    color: rgba(118, 99, 87, 0.3);
  }

  .navigation-list__item {
    width: 20%;
    box-shadow: none;
  }

  .navigation-list__item--logo {
    position: static;
    width: 102px;
  }

  .navigation-list__item--button {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .navigation-list__item--logo {
    width: 188px;
  }
}
