.page-main__bg {
  min-height: 389px;
  background-image:
    url("../img/text-sedona-index.svg"),
    url("../img/bg-intro-triangle-desktop.svg"),
    url("../img/bg-back-mobile@1x.jpg");
  background-repeat:
    no-repeat,
    no-repeat,
    no-repeat;
  background-position:
    center calc(50% + 2px),
    bottom,
    center;
  background-size:
    282px 214px,
    auto,
    auto;
}

.page-main__bg--another-page {
  min-height: 158px;
  background-image:
    url("../img/text-sedona.svg"),
    url("../img/bg-intro-triangle-desktop.svg"),
    url("../img/bg-back-mobile@1x.jpg");
  background-position:
    center calc(50% - 7px),
    bottom,
    center -230px;
  background-size:
    229px 39px,
    auto,
    auto;
}

@media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
  .page-main__bg {
    min-height: 389px;
    background-image:
      url("../img/text-sedona-index.svg"),
      url("../img/bg-intro-triangle-desktop.svg"),
      url("../img/bg-back-mobile@2x.jpg");
    background-repeat:
      no-repeat,
      no-repeat,
      no-repeat;
    background-position:
      center,
      bottom,
      center;
    background-size:
      282px 214px,
      auto,
      768px auto;
  }

  .page-main__bg--another-page {
    min-height: 158px;
    background-image:
      url("../img/text-sedona.svg"),
      url("../img/bg-intro-triangle-desktop.svg"),
      url("../img/bg-back-mobile@2x.jpg");
    background-position:
      center calc(50% - 7px),
      bottom,
      center -230px;
    background-size:
      229px 39px,
      auto,
      768px auto;
  }
}

@media (min-width: @tablet-width) {
  .page-main__bg {
    min-height: 518px;
    background-image:
      url("../img/text-sedona-index.svg"),
      url("../img/bg-intro-triangle-desktop.svg"),
      url("../img/bg-back-tablet@1x.jpg");
    background-repeat:
      no-repeat,
      no-repeat,
      no-repeat;
    background-position:
      center calc(50% - 8px),
      bottom,
      center;
    background-size:
      460px 350px,
      auto,
      auto;
  }

  .page-main__bg--another-page {
    min-height: 288px;
    background-image:
      url("../img/text-sedona.svg"),
      url("../img/bg-intro-triangle-desktop.svg"),
      url("../img/bg-back-tablet@1x.jpg");
    background-position:
      center 95px,
      bottom,
      center -230px;
    background-size:
      458px 78px,
      auto,
      auto;
  }

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    .page-main__bg {
      min-height: 518px;
      background-image:
        url("../img/text-sedona-index.svg"),
        url("../img/bg-intro-triangle-desktop.svg"),
        url("../img/bg-back-tablet@2x.jpg");
      background-repeat:
        no-repeat,
        no-repeat,
        no-repeat;
      background-position:
        auto,
        bottom,
        center;
      background-size:
        460px 350px,
        auto,
        768px auto;
    }

    .page-main__bg--another-page {
      min-height: 288px;
      background-image:
        url("../img/text-sedona.svg"),
        url("../img/bg-intro-triangle-desktop.svg"),
        url("../img/bg-back-tablet@2x.jpg");
      background-position:
        center 95px,
        bottom,
        center -230px;
      background-size:
        458px 78px,
        auto,
        768px auto;
    }
  }
}

@media (min-width: @desktop-width) {
  .page-main__bg {
    min-height: 518px;
    background-color: #84b5d3;
    background-image:
      url("../img/text-sedona-index.svg"),
      url("../img/bg-intro-triangle-desktop.svg"),
      url("../img/bg-back-desktop@1x.jpg");
    background-repeat:
      no-repeat,
      no-repeat,
      no-repeat;
    background-position:
      auto,
      bottom,
      center;
    background-size:
      auto,
      auto,
      auto;
  }

  .page-main__bg--another-page {
    min-height: 301px;
    background-color: #6c686c;
    background-image:
      url("../img/text-sedona.svg"),
      url("../img/bg-intro-triangle-desktop.svg"),
      url("../img/bg-back-desktop@1x.jpg");
    background-position:
      center 101px,
      bottom,
      center -217px;
    background-size:
      461px 80px,
      auto,
      auto;
  }

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    .page-main__bg {
      min-height: 518px;
      background-image:
        url("../img/text-sedona-index.svg"),
        url("../img/bg-intro-triangle-desktop.svg"),
        url("../img/bg-back-desktop@2x.jpg");
      background-repeat:
        no-repeat,
        no-repeat,
        no-repeat;
      background-position:
        center,
        bottom,
        center;
      background-size:
        auto,
        auto,
        1200px auto;
    }

    .page-main__bg--another-page {
      min-height: 301px;
      background-image:
        url("../img/text-sedona.svg"),
        url("../img/bg-intro-triangle-desktop.svg"),
        url("../img/bg-back-desktop@2x.jpg");
      background-position:
        center 101px,
        bottom,
        center -230px;
      background-size:
        461px 80px,
        auto,
        1200px auto;
    }
  }
}
