.presentation__title {
  display: block;
  width: 260px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
}

.presentation__description {
  display: block;
  width: 280px;
  margin: 0 auto;
  text-align: center;
}

.presentation__map {
  display: block;
  min-width: 320px;
  min-height: 350px;
  background-image: url("../img/bg-map-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
