.presentation__title {
  display: block;
  width: 260px;
  margin: 0 auto;
  margin-top: 39px;
  margin-bottom: 29px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
}

.presentation__containter {
  margin-bottom: 5px;
}

.presentation__description {
  display: block;
  width: 280px;
  margin: 0 auto;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .presentation__containter {
    margin-bottom: 52px;
  }

  .presentation__title {
    margin-top: 51px;
    margin-bottom: 26px;
    width: 455px;
    font-size: 21px;
  }

  .presentation__description {
    width: 535px;
  }
}
