.proposal {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0 auto;
  text-align: center;
}

.proposal__text {
  width: 280px;
}

.proposal__title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.proposal__description {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.proposal__description br {
  display: none;
}

.proposal__search {
  display: block;
  padding-top: 17px;
  margin-bottom: 49px;
  width: 280px;
  height: 58px;
  background-color: #81b3d2;
  text-align: center;
  text-decoration: none;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
}

.proposal__search:hover {
  background-color: #669ec0;
}

.proposal__search:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.proposal__search[disabled] {
  background-color: #e5e5e5;
}

.proposal__map {
  position: relative;
  display: block;
}

.proposal__mark {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

@media (min-width: @tablet-width) {
  .proposal__text {
    width: 458px;
  }

  .proposal__search {
    width: 458px;
    margin-bottom: 58px;
  }

  .proposal__description br {
    display: inline;
  }
}

@media (min-width: @desktop-width) {
  .proposal__search {
    margin-bottom: 66px;
  }
}
