.services-list {
  padding: 0;
  margin: 0;
  list-style: none;
  color: #333333;
  background-color: #ffffff;
}

.services-list__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.services-list__description {
  margin: 0;
}
