.video-presentation__title,
.video-presentation__proposal {
  margin: 0 auto;
  width: 260px;
  text-align: center;
}

.video-presentation__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.video-presentation__proposal {
  line-height: 24px;
}

.video-presentation__media {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  height: 201px;
  background-image: url("../img/video-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: @tablet-width) {
  .video-presentation__media {
    height: 500px;
  }
}
