@font-face {
  font-family: "PT Sans";
  src: local("ptsans"), local("ptsans-regular");
  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "PT Sans";
  src: local("ptsansbold"), local("ptsansbold-bold");
  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
  font-weight: 700;
}
